.header {
  /* flex-direction: column; */
  width: 100%;
  z-index: 2;
}

.subheader {
  width: 100%;
  text-align: center;
  font-size: 0.8333em;
  color: #ffff89;
  background-color: #32328e;
  padding: 4px 0;
}

.subheader-link {
  font-weight: 600;
}

.header-main {
  justify-content: space-between;
  padding: 10px 30px;
  background-color: #424242;
  color: #eaeaea;
}

.header-main,
.auth-handler-container,
.user-avatar-container,
.auth-button,
.google-icon-container {
  display: flex;
}

.searchbar-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.searchbar {
  padding: 6px 12px;
  padding-left: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border-radius: 50px;
  border: none;
  font-size: 1.3em;
  width: 100%;
}

.search-icon {
  position: absolute;
  left: 10px;
}

.clear-search-text-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.auth-handler-container {
  align-items: center;
  position: relative;
}

.user-avatar-container,
.user-profile-menu li,
.auth-button {
  cursor: pointer;
}

.user-avatar {
  border: 2px solid white;
}

.user-avatar-container {
  align-items: center;
}

.user-avatar-container,
.user-avatar {
  border-radius: 50px;
}

.user-profile-menu {
  width: 200px;
  margin-top: 5px;
  top: 50px;
  left: -150px;
  right: -10px;
  border-radius: 10px;
}

.auth-button {
  align-items: center;
  color: #eaeaea;
  font-size: 1.4em;
  background-color: transparent;
  border: none;
}

.auth-button * {
  margin: 0 3px;
}

.google-icon-container {
  align-items: center;
  justify-content: center;
  border: 1px solid #eaeaea5a;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  padding: 6px;
}