.urls-list {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  /* border: 3px solid purple; */
}

.urls-list tbody {
  text-align: center;
}

.asset-thumbnail {
  position: relative;
  width: 30px;
  min-height: 30px;
}