.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  z-index: 1;
  box-shadow: 2px 4px 6px rgb(199, 199, 199);
  transition: left 500ms ease;
}

.hide {
  left: -197px;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  padding: 105px 0 0 20px;
}

.sidebar-list li {
  padding-top: 10px;
}

.sidebar-list li * {
  padding: 2px;
}

.sidebar-list li p {
  font-size: 0.7em;
  font-style: italic;
  color: var(--darkgrey);
}

.handle-base {
  background-color: #32328E;
  z-index: -1;
}

.handle-base,
.handle {
  position: absolute;
  width: 30px;
  height: 30px;
  right: -15px;
  top: 52%;
  border-radius: 50%;
}

.handle {
  color: #32328E;
  background-color: #F2F4F4;
  cursor: pointer;
  transform: rotateY(180deg);
  transition: all 500ms ease;
}

.hide>.handle {
  transform: rotateY(0deg);
}

.group {
  padding: 0 0 10px 10px;
  margin: 0 20px 0 -5px;
  border-radius: 10px;
  cursor: pointer;
}

.group:hover {
  background-color: var(--darkgrey-lowalpha);
}

.groups-list-container {
  margin-top: 10px;
}